<!-- templates/includes/modals.html -->
{% load static %}

<!-- 첫 번째 모달 -->
<div id="first_modal" class="modal_overlay">
    <div class="modal_window">
        <div class="modal_header">
            <div class="modal_title">새 이미지 업로드</div>
            <div class="modal_sidebox">
                <span class="modal_close material-icons-outlined">close</span>
            </div>
        </div>
        <div class="img_upload_space modal_body_large"></div>
    </div>
</div>

<!-- 두 번째 모달 -->
<div id="second_modal" class="modal_overlay">
    <div class="modal_window">
        <div class="modal_header">
            <div class="modal_title">새 이미지 업로드</div>
            <div class="modal_sidebox">
                <span class="modal_close material-icons-outlined">close</span>
            </div>
        </div>
        <div class="modal_body_split">
            <div class="img_upload_space modal_image_area"></div>
            <div class="modal_input_area">
                <textarea id="input_feed_content" placeholder="내용을 입력하세요..." rows="10" class="modal_textarea"></textarea>
                <button id="feed_create_button" class="modal_submit_btn">공유하기</button>
            </div>
        </div>
    </div>
</div>
